<div class="full-height">
  <div ng-include="'components/navbar/navbar.html'"></div>

  <div class="container">
  <div ng-controller="CreateCtrl" class="col-md-12">
  <h1>Create a New Question</h1>
    <form name="create" method="post" novalidate>
      <div class="row">
      <input required class="createQuestion" placeholder="Question" ng-model="question" type="text"/>
      </div>
      <div class="row">
        <input required class="createAnswer" placeholder="Answer 1" ng-model="a1" type="text"/>
        <input required class="createAnswer" placeholder="Answer 2" ng-model="a2" type="text"/>
      </div>
      <div class="row">
        <input required class="createAnswer" placeholder="Answer 3" ng-model="a3" type="text"/>
        <input required class="createAnswer" placeholder="Answer 4" ng-model="a4" type="text"/>
      </div>
      <div class="row">
        <input placeholder="Correct Answer No." ng-model="correct" class="createAnswer" type="number"/>
      </div>
      <div class="row">
        <button class="addCreate" ng-click="add(create.$valid)">Submit</button>
      </div>
    </form>
    <table class="table">
    <tr ng-repeat="q in list"><td>Question: {{q.q}}</td><td>Answers: {{q.a.1}} {{q.a.2}} {{q.a.3}} {{q.a.4}}</td><td>{{q.correct}}</td></tr>
    </table>
  </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p>Pub Trivia © 2014 | James Ferguson | <a href="/">home</a> | <a href="/create">create</a></p>
    </div>
  </footer>
</div>