.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.controller {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
    background-image: url("../../assets/images/Banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.hero-unit h1 {
    text-shadow: 1px 1px 1px #000;
}

.hero-unit p {
    text-shadow: 1px 1px 1px #000;
}
.full-height {
    position: relative;
    height: 100vh;
}
.footer {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
    background-color: rgb(200,210,230);
    color: white;
}
.footer a{
   text-decoration: none;
   color: white;
}
.clicked {
    background-color: rgb(30,30,80);
    font-weight: bold;
    color: white;
}

.green {
    color: rgb(20,180,40);
}
.prog {
    margin-top: 90px;
}
.room-menu {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 20px
}
.room-menu-empty {
    padding-top: 43px;
    padding-bottom: 45px;
}

@media screen and (max-width: 600px) {
  .room-menu-empty {
    visibility: hidden;
    padding-top: 1px;
    padding-bottom: 1px;
  }
}


