<div class='full-height'>
<div ng-controller="MainCtrl">
  <div ng-show="host" ng-include="'components/navbar/navbar.html'"></div>

  <header ng-show="host" class="hero-unit" id="banner">
    <div class="container">
      <h1>Pub Trivia</h1>
      <p class="lead">Trivia for the Modern Era</p>
    </div>
  </header>


  <div class="container">
    <div class="row">
      <div class="container" ng-if="gameEnd">
        <h2> Results </h2>
        <div class="results" ng-repeat="(name, result) in results">
        {{name}} : {{result.tally}}
        </div>
        <a href="/create"><button class='btn'>Play Again?</button></a>
      </div>
    </div>

    <div class="row">
      <div class="container" ng-if="gameplay">
        <div class="row">
        <div ng-model="question">
          <div class="row question">{{question.q}}</div>
          <div ng-class="{controller: !host, clicked: chosenAnswer === 1}" ng-click="answer(1)" class="col-sm-6 qa a1">1. {{question.a.1}}</div>
          <div ng-class="{controller: !host, clicked: chosenAnswer === 2}" ng-click="answer(2)" class="col-sm-6 qa a2">2. {{question.a.2}}</div>
          <div ng-class="{controller: !host, clicked: chosenAnswer === 3}" ng-click="answer(3)" class="col-sm-6 qa a3">3. {{question.a.3}}</div>
          <div ng-class="{controller: !host, clicked: chosenAnswer === 4}" ng-click="answer(4)" class="col-sm-6 qa a4">4. {{question.a.4}}</div>
        </div>
        </div>

        <div class='row'>
          <br>
          <button ng-if="host" class='btn btn-primary' ng-click="nextQuestion()">Next</button>
          <button ng-if="host" class='btn btn-warning' ng-click="gameOver()">End Game</button>
          <progressbar class="prog" value="(current/(max-1))*100" max="100" ng-if="host"></progressbar>
        </div>
      </div>
    </div>


    <div ng-show="settings" class="row">
      <div class="col-sm-6">
        <h1 class="page-header">Create Game</h1>
          <span class="col-md-4 col-lg-4 col-sm-6" ng-show="room" ng-model="room">Your room is {{room}}</span>
          <button type="button" class='btn btn-success' ng-click="createGame()">Create Room</button>
          <button type="button" class='btn btn-primary' ng-click="startGame()">Start Game</button>

      </div>
      <div class="col-sm-6">
        <h1 class="page-header">Join Game</h1>
        <div class="row">
          <input type="text" placeholder="username" ng-model="username" class="col-md-4 col-lg-4 col-sm-6"/>
          <input type="text" placeholder="room name" ng-model="joinRoom" class="col-md-4 col-lg-4 col-sm-6"/>
          <button type="button" class="btn btn-primary" ng-click="joinGame()">Join</button>
        </div>
        <div ng-if="joinMessage" class="row"><h4 class='success green'>Joined! Waiting on host...</h4></div>
      </div>

    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Pub Trivia © 2014 | James Ferguson | <a href="/">home</a> | <a href="/create">create</a></p>
  </div>
</footer>
</div>
